body{
    margin:0;
    padding:20px;
    font:12px/17px Arial, sans-serif;
    background: rgba(40,44,52,0.81);
}

#Number_Node{
    color: crimson;
}
#Name_Node{
    color: crimson;
}
#data{
    background-color: rgba(255,255,255,0.95);
    margin-left: 15px;
}

